@using dotMovies.Models;
@{
    ViewData["Title"] = "Register";
    User user = new User();
}


<link href="~/css/register.css" rel="stylesheet" />

<form class="w-50 p-3 mx-auto border rounded d-flex flex-column" method="post">

    <h2>Register</h2>

    <div class="form-group">
        <label asp-for="@user.Login">Login</label>
        <input asp-for="@user.Login" class="form-control" placeholder="Enter login">
        <span asp-validation-for="@user.Login" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@user.Password">Password</label>
        <input asp-for="@user.Password" class="form-control" placeholder="Enter password">
        <span asp-validation-for="@user.Password" class="text-danger"></span>
    </div>

    @*@if (ViewBag.RegistrationState == "RegistrationSuccess") {
        <div class="alert alert-success" role="alert">
            Registered correctly!
        </div>
    } else if (ViewBag.RegistrationState == "LoginExists") {
        <div class="alert alert-danger" role="alert">
            Login already exists
        </div>
    }*@

    <button type="submit" class="btn btn-primary ml-auto">Submit</button>

</form>