@page
@model dotMovies.Pages.LoginModel
@{
}

<form class="w-50 p-3 mx-auto border rounded d-flex flex-column" method="post">

    <h2>Login</h2>

    <div class="form-group">
        <label asp-for="@Model.InputLogin">Login</label>
        <input asp-for="@Model.InputLogin" class="form-control" placeholder="Enter login">
        <span asp-validation-for="@Model.InputLogin" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.InputPassword">Password</label>
        <input asp-for="@Model.InputPassword" class="form-control" placeholder="Enter password">
        <span asp-validation-for="@Model.InputPassword" class="text-danger"></span>
    </div>

    @if (TempData["AuthenticationState"] == "AuthenticationFailure") {
        <div class="alert alert-danger" role="alert">
            Login or password incorrect
        </div>
    }

    <button type="submit" class="btn btn-primary ml-auto">Submit</button>

</form>